.sidebar{
    float: left;
}

ul {
    list-style-type: none;
    margin-left: -20px;
    width: 40px;
}

li {
    margin: 60px 0px;
    font-size: 25px;

    i {
        color: #cecaca;
    }
}

li:hover i {
    color: #6262ed;
}