<div class="search-container-wrap">
    <div class="menu-container">
        <label for="menu-toggle" class="burger-menu">&#9776;</label>
    </div>
    <div class="search-container">
        <i class="fa fa-search"></i>
        <input type="text" class="search-input" placeholder="Search...">
        <div class="user_info_container">
            <div class="language-dropdown">
                <select>
                    <option value="english">English</option>
                    <option value="french">French</option>
                </select>
            </div>
            <div class="right-icons">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>
            <div class="user-details">
                <img src="http://placehold.it/32x32" alt="User Avatar">
                <span class="user-name">John Doe</span>
            </div>
        </div>
    </div> 
</div>


  
  